/* Add styles for the navigation bar */

.navbar {
    top: 0px;
    z-index: 3;
    position: sticky;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
}

.navbar p {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px;
    padding-left: 20px;
    text-decoration: none;
}


/* Style the navigation links */

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Add styles for the sections */

.navbar .sections {
    display: flex;
    white-space: nowrap;
}


/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a media query for mobile devices */

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar .sections {
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        white-space: nowrap;
    }
    .navbar .sections a {
        margin: 0 10px;
    }
}