html {
    position: relative;
    min-height: 100%;
}

body{
	background-image: url("background/silicon.png");
	margin: 0;

  font-family: monospace;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

#header{
	text-align: center;
	background: #000000;
	font-family: cursive;
	font-weight: lighter;
	color: white;
	height: auto;
}

#header h2{
	margin: 0;
	vertical-align: center;
	font-size: 36px;
	padding: 20px;
}

/* top nav styles */

.topnav{
	overflow: hidden;
	background-color: #191919;


	
	display: flex;
	flex-direction: row;

	position: sticky;
	top: 0px;
}

/* logo pic */

.logo{
	margin: 10px;
	margin-left: 10px;
}

#logoPic{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.logo a{
	color: blue;
	text-decoration: none;
}


/*Start*/


/*End*/


/* links bar style  */

/* Appearance */
.links {
	background-color: transparent;
	background-image: linear-gradient(to bottom, #100F0F, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	align-self: center;

}

.links > a {
	color: #9ab;
	padding: .75em;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
	align-self: center;
}

.links > a:hover {
	background: #ffffff06;
	color: #adf;
}

.links > a.active {
  background-color: #191919;
  color: white;
}

.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
	margin-left: auto;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

/* End of links style */


/* Section and Cards style */

.sec{
	padding: 10px;
	background: transparent;
	height: auto;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	padding: 10px;
	background-color: #E2DCC8;
	height: auto;
	width: 700px;
	display: flex;
	align-items: center;

}
.card_text{
	padding: 10px;
}

.card p{
	align-items: center;
}

.card img{
	background: blue;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 350px;
	height: 350px;
	border-radius: 50%;
}


/* End of Sections and Cards style */


/* Footer style */

footer{
	font-family: monospace;
	background: #000000;
	color: white;
	position: relative;

	padding: 1rem;
	bottom: 0;

	margin-top: auto;

}

footer ul{
	padding: 10px;
	display: flex;
	width: auto;
	margin-left: auto;
	align-content: center;
	
}

footer ul li{
	padding: 10px;
	list-style: none;
	color: white;
}

/* End of Footer style */