<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rain/Contacts</title>

    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/contact.css">
    <link rel="stylesheet" type="text/css" href="../css/boxes.css">

    <script type="text/javascript" src="../js/home.js"></script>
</head>

<body>
    <div id="header">
        <h2>Keep smiling ( ͡⚈ ͜ʖ ͡⚈)✌</h2>
    </div>

    <div class="topnav">
        <div>
            <p id="wellcome">A Programmer for Fun</p>
        </div>

        <nav class="links" style="--items: 4;">
            <a href="../views/home.html">Home</a>
            <a href="../views/activities.html">Activities</a>
            <a href="../views/projects.html">Projects</a>
            <a href="../views/contact.html" class="active">Contacts</a>
            <span class="line"></span>
        </nav>
    </div>


    <div class="ag-format-container">
        <div class="ag-courses_box">
            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        GitHub
                    </div>

                    <div class="ag-courses-item_date-box">
                        Connect
                        <span class="ag-courses-item_date">
                </span>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        LinkedIn
                    </div>

                    <div class="ag-courses-item_date-box">
                        Connect
                        <span class="ag-courses-item_date">
                </span>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Gmail
                    </div>

                    <div class="ag-courses-item_date-box">
                        Connect
                        <span class="ag-courses-item_date">
                </span>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Instagram
                    </div>

                    <div class="ag-courses-item_date-box">
                        Connect
                        <span class="ag-courses-item_date">
                </span>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="push"></div>
    <footer>
        <div>
            <ul>
                <li>Contacts:<br>LinkedIn<br>GitHub<br>Instagram</li>
            </ul>
        </div>
    </footer>

</body>

</html>