* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../src/background/silicon.png");
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* buttons style */

button {
    outline: 0;
    background: peru;
    width: 100px;
    border: 0;
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    position: relative;
}

button:hover,
button:active,
button:focus {
    background: black;
    color: #fff;
}


/* headers style */

#header {
    text-align: center;
    background: #000000;
    font-family: cursive;
    font-weight: lighter;
    color: white;
    height: auto;
}

#wellcome {
    margin: 0;
    vertical-align: center;
    font-size: 20px;
    padding: 20px;
    color: white;
}


/* top nav styles */

.topnav {
    z-index: 3;
    overflow: hidden;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
}


/* logo pic */

.logo {
    margin: 10px;
    margin-left: 10px;
}

#logoPic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo a {
    color: blue;
    text-decoration: none;
}


/* links bar style  */


/* Appearance */

.links {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #100F0F, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
    align-self: center;
}

.links>a {
    color: #9ab;
    padding: .75em;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    align-self: center;
}

.links>a:hover {
    background: #ffffff06;
    color: #adf;
}

.links>a.active {
    background-color: #191919;
    color: white;
}

.links>.line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}


/* The Magic */

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
    margin-left: auto;
}

.links>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links>a:hover~.line {
    opacity: 1;
}

.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:nth-of-type(3):hover~.line {
    --index: 3;
}

.links>a:nth-of-type(4):hover~.line {
    --index: 4;
}

.links>a:nth-of-type(5):hover~.line {
    --index: 5;
}

.links>a:nth-of-type(6):hover~.line {
    --index: 6;
}

.links>a:nth-of-type(7):hover~.line {
    --index: 7;
}

.links>a:nth-of-type(8):hover~.line {
    --index: 8;
}

.links>a:nth-of-type(9):hover~.line {
    --index: 9;
}

.links>a:nth-of-type(10):hover~.line {
    --index: 10;
}

.links>a:last-of-type:hover~.line {
    --index: var(--items);
}


/* End of links style */


/* Section and Cards style */

#about {
    margin-top: 100px;
}

.card {
    padding: 10px;
    background: transparent;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.card_text {
    padding: 10px;
}

.card p {
    align-items: center;
}

.card img {
    background: blue;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.form {
    position: relative;
    filter: drop-shadow(0 0 2px #000000);
    border-radius: 5px;
    width: 800px;
    height: fit-content;
    background-color: #ffffff;
    padding: 40px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form.alt {
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .form {
        flex-direction: column;
    }
}

.form img {
    margin: 10px;
    position: relative;
    /* height: 20px;
    top: 230px;
    right: 60px; */
    cursor: pointer;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    width: 100%;
    border: 0;
    margin: 15px 0;
    padding: 15px;
    font-size: 14px;
}

.form input:focus {
    box-shadow: 0 0 5px 0 rgba(106, 98, 210);
}

span {
    color: red;
    margin: 10px 0;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: peru;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: black;
    color: #fff;
}

.message {
    margin: 15px 0;
    text-align: center;
}

.form .message a {
    font-size: 14px;
    color: #6a62d2;
    text-decoration: none;
}


/* End of Sections and Cards style */


/* Footer style */

footer {
    font-family: monospace;
    background: #000000;
    color: white;
    position: relative;
    padding: 1rem;
    bottom: 0;
    margin-top: auto;
}

footer ul {
    padding: 10px;
    display: flex;
    width: auto;
    margin-left: auto;
    align-content: center;
}

footer ul li {
    padding: 10px;
    list-style: none;
    color: white;
}


/* End of Footer style */